# .inputrc
#
# Author: Patrick MacArthur <patrick@patrickmacarthur.net>
#
# A basic inputrc.

# Turn off the annoying system beep in bash and other readline-based
# programs.
set bell-style none

# I use emacs now, so explicitly set the editing-mode to accordingly.
set editing-mode emacs

# vim: ft=readline:
